local.properties
.classpath
.project
.settings/
.idea/
bin/
gen/
target/
Thumbs.db
production/
lib/
out/
.bak
gen-external-apklibs
gen/
.DS_Store
*.apk
/wallet/proguard_logs/dump.txt
/wallet/proguard_logs/seeds.txt
/wallet/proguard_logs/usage.txt
/market/screenshot-wallet-ph-ar.png
/market/screenshot-wallet-ph-cs.png
/market/screenshot-wallet-ph-da.png
/market/screenshot-wallet-ph-de.png
/market/screenshot-wallet-ph-el.png
/market/screenshot-wallet-ph-en-1.png
/market/screenshot-wallet-ph-en-2.png
/market/screenshot-wallet-ph-en.png
/market/screenshot-wallet-ph-es.png
/market/screenshot-wallet-ph-fr.png
/market/screenshot-wallet-ph-hu.png
/market/screenshot-wallet-ph-it.png
/market/screenshot-wallet-ph-iw.png
/market/screenshot-wallet-ph-jp.png
/market/screenshot-wallet-ph-nl.png
/market/screenshot-wallet-ph-pl.png
/market/screenshot-wallet-ph-ru.png
/market/screenshot-wallet-ph-sk.png
/market/screenshot-wallet-ph-sl.png
/market/screenshot-wallet-ph-sv.png
/market/screenshot-wallet-ph-tr.png
/market/screenshot-wallet-ph-vi.png
/market/screenshot-wallet-tab-ar.png
/market/screenshot-wallet-tab-da.png
/market/screenshot-wallet-tab-en.png
/market/screenshot-wallet-tab-fr.png
/market/screenshot-wallet-tab-nl.png
/market/screenshot-wallet-tab10-cs.png
/market/screenshot-wallet-tab10-da.png
/market/screenshot-wallet-tab10-de.png
/market/screenshot-wallet-tab10-el.png
/market/screenshot-wallet-tab10-en-1.png
/market/screenshot-wallet-tab10-es.png
/market/screenshot-wallet-tab10-fr.png
/market/screenshot-wallet-tab10-hu.png
/market/screenshot-wallet-tab10-it.png
/market/screenshot-wallet-tab10-iw.png
/market/screenshot-wallet-tab10-ja.png
/market/screenshot-wallet-tab10-nl.png
/market/screenshot-wallet-tab10-pl.png
/market/screenshot-wallet-tab10-ru.png
/market/screenshot-wallet-tab10-sk.png
/market/screenshot-wallet-tab10-slpng.png
/market/screenshot-wallet-tab10-sv.png
/market/screenshot-wallet-tab10-tr.png
/market/screenshot-wallet-tab10-vi.png
/market/screenshot-wallet-tab7-ar.png
/market/screenshot-wallet-tab7-cs.png
/market/screenshot-wallet-tab7-da.png
/market/screenshot-wallet-tab7-de.png
/market/screenshot-wallet-tab7-el.png
/market/screenshot-wallet-tab7-en-1.png
/market/screenshot-wallet-tab7-en-2.png
/market/screenshot-wallet-tab7-es.png
/market/screenshot-wallet-tab7-fr.png
/market/screenshot-wallet-tab7-hu.png
/market/screenshot-wallet-tab7-it.png
/market/screenshot-wallet-tab7-iw.png
/market/screenshot-wallet-tab7-ja.png
/market/screenshot-wallet-tab7-nl.png
/market/screenshot-wallet-tab7-pl.png
/market/screenshot-wallet-tab7-ru.png
/market/screenshot-wallet-tab7-sk.png
/market/screenshot-wallet-tab7-sl.png
/market/screenshot-wallet-tab7-sv.png
/market/screenshot-wallet-tab7-tr.png
/market/screenshot-wallet-tab7-vi.png
/wallet/monetaryunit-wallet.cer
