local.properties
.classpath
.project
.settings/
.idea/
bin/
gen/
target/
Thumbs.db
production/
lib/
out/
.bak
gen-external-apklibs
gen/
.DS_Store
*.apk
/wallet/proguard_logs/dump.txt
/wallet/proguard_logs/seeds.txt
/wallet/proguard_logs/usage.txt
